<header class="mb-auto">
  <h1 class="float-md-start mb-0" style="background-color: #1a193c;">TicTacToe 
  <img src="<%= asset_path 'logo.png' %>" style="width:50px; height: 50px" alt=""/></h1>

  <nav class="nav nav-tabs justify-content-center float-md-end">
    <a class="nav-link text-white" style="background-color: #59587A" href="<%= root_path %>"><h3>Главная</h3></a>
    <a class="nav-link text-white" style="background-color: #59587A" href="<%= games_path %>"><h3>Играть</h3></a>
    <a class="nav-link text-white" style="background-color: #59587A" href="<%= leaderboard_path %>"><h3>Список лидеров</h3></a>
    <a class="nav-link text-white" style="background-color: #59587A" href="<%= new_user_registration_path %>"><h3>Регистрация</h3></a>
    <a class="nav-link active text-white" style="background-color: #5754C7" href="<%= new_user_session_path %>"><h3>Вход</h3></a>
    
    <% if current_user %>
      <%= current_user.email %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
    <% end %>
  </nav>
</header>

<main class="container px-3 my-auto">
  <div class="alert mx-auto" style="background-color: #59587A; width: 632px; height: 450px;">
    <h1>Вход в аккаунт</h1><br />

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "h3" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mx-auto", style: "width: 300px" %><br />
      </div>

      <div class="field">
        <%= f.label :password, class: "h3" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control mx-auto", style: "width: 300px" %><br />
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "h3" %>
        </div>
      <% end %><br/>

      <div class="actions">
        <%= f.submit "Войти", class: "btn btn-lg", style: "background-color: #5754C7; width: 300px", id: "my-btn" %>
      </div>
    <% end %>
  </div>
  <br/>
  <%= render "devise/shared/error_messages", resource: resource, id: "my-messages"%>
  <h2 class="notice" id="my-notice"><%= notice %></h2>
  <h2 class="alert" id="my-alert"><%= alert %></h2>
</main>

<footer class="mt-auto text-white-50">
  <p>Made by <a href=" " class="text-white">Каракин Даниил ИУ6-33Б</a>.</p>
</footer>
